.playerCard {
    width: 100%;
    height: 65%;
    display: flex;
    flex-flow: column; 
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.45) 1.95px 1.95px 2.6px;
}

.playerCard:hover {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.playerHeader {
    font-size: 10px;
    font-weight: bolder;
    padding: 0;
    border-radius: 5px 5px 0 0;
    color: white;
}

.playerBody {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    flex-grow: 1;
}

.playerNumber {
    position: absolute;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    margin: 0;
    top: 0;
    left: 0;
}

.playerExperience {
    position: absolute;
    font-size: 14px;
    color: white;
    font-weight: bolder;
    margin: 0;
    bottom: 0;
    left: 0;
}
.playerOverall {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: bolder;
}

.playerStatus {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 2px;
    font-size: 14px;
    font-weight: bolder;
    color: red;
}


.backgroundImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}