.App {
  text-align: center;
  background-color: black;
  width: 100%;
}

.menu {
  height: 100vh;
  max-width: 8rem;
  padding: 0 1.8vh;
  background-color: black;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
display: none;
}

.teams {
  padding: 0 1.8vh 0 0;
}

.Row {
  margin: 0;
}

.top, .bottom {
  margin: 0;
  width: 100%;
  height: 100%;
}

.top {
  padding: 1.8vh 0 0.9vh 0; 
}

.bottom {
  padding: 0.9vh 0 1.8vh 0; 
}